.care-rituals h4 {
  margin: 0;
}

/* Bannière */
.care-rituals .banner {
  padding: 5rem 0rem 0rem 0rem;
  color: var(--blanc);
  background-image: url('../../assets/img/soins-rituels/rituals-banner.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-header-title {
  font-size: 1.5rem;
}

.banner-header-title h2 {
  font-family: var(--typoTanPearl);
  margin: 0;
}

.banner-header-title p {
  margin: 0;
}

.banner-text {
  background-color: rgba(32, 18, 18, 0.5);
  color: var(--blanc);
  padding: 1rem;
  margin: 2rem 4rem 0rem 4rem;
  border-radius: 4px;
  text-align: center;
}

/* Introduction */

.introduction {
  padding: 2rem 6rem;
  gap: 4rem;
  background-color: #201212;
  color: var(--blanc);
}

.rituals-for {
  background-color: rgba(229, 133, 92, 0.15);
  padding: 1rem;
  padding-bottom: 0rem;
  border-radius: 4px;
}

.introduction-text {
  text-align: center;
}

/* Essence des rituels */

.rituals-essence {
  background-image: url('../../assets/img//fond_mur_terracota.webp');
  background-size: cover;
  color: var(--blanc);
  text-align: center;
}

/* Possibilités */
.rituals-possibilities {
  padding: 3rem 6rem;
  color: var(--terracota);
  justify-content: space-around;
}

.rituals-possibilities img {
  height: 23rem;
  width: auto;
  border-radius: 4px;
}



/* Espace de soin */
.treatment-area video {
  height: 80vh;
  border-radius: 2rem;
}


/* Contact */
.rituals-contact-img {
  width: 10rem;
  height: auto;
}