.header{
  top: 0;
  font-family: var(--typoTanPearl);
  position: fixed;
  z-index: 1000;
  width: -webkit-fill-available !important;
}

.logo {
  height: 2.5rem;
  width: 2.5rem;
}

.navMenu{
  width: 100%;
  gap: 2rem;
}

.nav-active{
  text-decoration: underline;
}

.contact-button a{
  padding: 0.5rem;
  background-color: var(--terracota);
  color: var(--blanc);
  border-radius: 4px;
  font-family: var(--typoMontserra);
  white-space: nowrap;
  font-weight: 500;
}

.dropdown {
  position: relative;
  display: inline-block;
  background-color: var(--blanc);
}

.dropdown-label {
  cursor: pointer;
}

.dropdown-menu {
  position: fixed;
  border-radius: 5px;
  display: none;
  flex-direction: column;
  min-width: 200px;
  z-index: 1000;
  background-color: var(--blanc);
  padding: 1rem;
}

.dropdown:hover .dropdown-menu {
  display: flex;
}

.dropdown-menu a {
  padding-top: 0.5rem;
  text-decoration: none;
  transition: background 0.3s;
}