/* Font */
@font-face {
  font-family: 'Tan Pearl';
  src: 
    url('/fonts/tan-pearl.woff2') format('woff2'),
    url('./public/font/tan-pearl.otf') format('opentype');
  font-display: swap;
}

/* Properties */
:root {
  --terracota: #552710;
  --beige: #CCA07C;
  --blanc: #E6D0B8;
  --vert: #9DA38E;
  --rose: #A86F5B;
  --typoTanPearl: 'Tan Pearl', serif;
  --typoMontserra: 'Montserrat', sans-serif;
}

body {
  font-family: var(--typoMontserra);
  background-color: var(--terracota);
  color: var(--blanc);
  font-size: 16px;
  margin: 0px;
  height: 100vh;
}

#root {
  height: 100%;
}

a {
  color: var(--blanc);
  text-decoration: none;
}