/* Font */
@font-face {
  font-family: 'Tan Pearl';
  src: url('./static/font/tan-pearl.otf') format('opentype');
}

/* Properties */
:root {
  --terracota: #552710;
  --beige: #CCA07C;
  --blanc: #E6D0B8;
  --vert: #9DA38E;
  --rose: #A86F5B;
  --typoTanPearl: 'Tan Pearl', serif;
  --typoMontserra: 'Montserrat', sans-serif;
}

html {
  height: 100vh;
  width: 100vw;
}

body {
  font-family: var(--typoMontserra);
  background-color: var(--terracota);
  height: 100vh;
  margin: 0;
}

.logo {
  height: 200px;
  width: 200px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--typoTanPearl);
  text-align: center;
  text-wrap: balance;
}

p {
  font-family: var(--typoMontserra);
  text-align: center;
  text-wrap: balance;
}

.h-100 {
  height: 100vh;
}

.w-100 {
  width: 100%;
}

.containerCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerConstruction {
  padding: 1em 2em;
  padding-top: 0px;
  background-color: var(--terracota);
  color: var(--blanc);
  display: inline-block;
  border-radius: 10px;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.contact .containerCenter {
  padding: 14px;
  color: var(--blanc);
  text-decoration: none;
  gap: 4px;
}

.contact .icon {
  height: 25px;
  width: 25px;
}

.contact p {
  margin: 0;
}

/* Responsive */
@media screen and (max-width: 800px) {
  .containerCenter .contact {
    flex-direction: column;
  }

  .containerCenter.h-100 {
    padding: 2em;
  }
}

@media screen and (max-width: 400px) {
  .containerCenter.h-100 {
    padding: 0em;
  }

  .containerConstruction {
    padding: 0em;
  }

  .containerCenter {
    padding: 0.5em;
  }

}
@media screen and (min-width: 800px) {
  body {
    background-image: url('./static/img/flower.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}