/* Font */
@font-face {
  font-family: 'Tan Pearl';
  src: url('./static/font/tan-pearl.otf') format('opentype');
}

/* Properties */
:root {
  --terracota: #552710;
  --beige: #CCA07C;
  --blanc: #E6D0B8;
  --vert: #9DA38E;
  --rose: #A86F5B;
  --typoTanPearl: 'Tan Pearl', serif;
  --typoMontserra: 'Montserrat', sans-serif;
}

body {
  font-family: var(--typoMontserra);
  background-image: url('./static/img/flower.png');
  height: 100vh;
  margin: 0;
}

.logo {
  height: 200px;
  width: 200px;
}

.title {
  font-family: var(--typoTanPearl);
}

p {
  font-family: var(--typoMontserra);
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container2 {
  padding: 24px;
  padding-top: 0px;
  background-color: var(--terracota);
  color: var(--blanc);
  display: inline-block;
  border-radius: 10px;
}

.container3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.instagram {
  padding: 14px;
  color: var(--blanc);
  text-decoration: none;
}