/* Image de fond */
.imageHomePage img{
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* Presentation */

.presentation-container {
  padding: 3rem 8rem;
  gap: 5rem;
  height: 60vh;
}

.pictureProfile img{
  width: 20rem;
  height: auto;
  border-radius: 50rem 50rem 0rem 0rem;
}

img.framed {
  box-shadow:
    -50px -50px 0 -40px red,
    50px 50px 0 -40px red;
}

.presentation-title {
  font-size: 2rem;
  font-family: var(--typoTanPearl);
}

.presentation-signature {
  width: 100%;
  text-align: right;
  font-size: 1rem;
  font-family: var(--typoTanPearl);
}

/* Citation */
.citation-container {
  padding: 0rem 8rem;
  height: 20vh;
}

/* Prestations */
.prestations-container {
  padding: 3rem 8rem;
  height: 90vh;
  background-image: url('../../assets/img//fond_mur_terracota.webp');
  background-size: cover;
  color: var(--blanc);
}

.prestations-title {
  font-size: 1.35rem;
  font-family: var(--typoTanPearl);
  text-align: center;
  padding-bottom: 1.5rem;
}

.prestations-item {
  height: 60vh;
  width: 15vw;
  font-family: var(--typoMontserra);
  border-radius: 0.25rem;
  font-size: 1rem;
  background: rgba(85, 39, 16, 0.6); 
}

.consultations-picture{
  background-image: url('../../assets/img/flower_hand.webp');
  background-size: cover;
  background-color: white ;
}

.guidances-picture{
  background-image: url('../../assets/img/hand_water.webp');
  background-size: cover;
}

.soins-picture{
  background-image: url('../../assets/img/leaf_women.webp');
  background-size: cover;
}

.services-picture{
  background-image: url('../../assets/img/leaf_water.webp');
  background-size: cover;
}

.prestations-item-title {
  font-size: 1.25rem;
  font-family: var(--typoTanPearl);
  text-align: center;
  padding: 1rem;
}

.prestations-item-inner {
  height: 60vh;
  width: 15vw;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.prestations-item:hover .prestations-item-inner {
  transform: rotateY(180deg);
}

.prestations-item-front,
.prestations-item-back {
  position: absolute;
  height: 60vh;
  width: 15vw;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.25rem;
}

.prestations-item-back {
  background: rgba(85, 39, 16, 0.8);
  transform: rotateY(180deg);
  flex-direction: column;
  justify-content: space-evenly;
}

/* Disclaimer */